.login-container {
  margin-top: 5vh;
}

.card {
  border: none;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.card-header {
  padding: 1.5rem;
}

.form-label {
  font-weight: 500;
}

.btn-primary {
  padding: 0.8rem;
  font-weight: 500;
}

.input-group {
  .btn {
    border-color: #ced4da;
    &:hover {
      background-color: #f8f9fa;
    }
  }
  
  .bi {
    font-size: 1.2rem;
  }
}

.form-control:focus + .btn {
  border-color: #86b7fe;
}

.text-muted {
  a {
    &:hover {
      text-decoration: underline !important;
    }
  }
}

.mt-3 {
  a {
    &:hover {
      color: var(--bs-primary) !important;
    }
  }
}

@media (max-height: 600px) {
  .login-container {
    margin-top: 2vh;
  }
} 